@{
    ViewData["Title"] = "";
}

<div class="content">
    <div class="text-center">
        <h3 class="custom-title responsivetitle">Bem-vindo ao Runeterra BR</h3>

        <img class="iconesruneterra" src="~/Images/icon-all.png" />
        <img class="iconesruneterra" src="~/Images/icon-demacia.png" />
        <img class="iconesruneterra" src="~/Images/icon-freljord.png" />
        <img class="iconesruneterra" src="~/Images/icon-ionia.png" />
        <img class="iconesruneterra" src="~/Images/icon-noxus.png" />
        <img class="iconesruneterra" src="~/Images/icon-piltoverzaun.png" />
        <img class="iconesruneterra" src="~/Images/icon-shadowisles.png" />

    </div>
</div>
